{% extends 'base/base.html.twig' %}
{% block title %}
	Skill new

{% endblock %}
{% block body %}
	<div class="row justify-content-center">
		<div class="col-sm-12 col-lg-6">
			<h1>Create new Skill</h1>

			{{ include('skill/_form.html.twig') }}

			<a class="btn btn-warning" href="{{ path('app_skill_index') }}">back to list</a>
		</div>
	</div>
{% endblock %}
