{% extends 'base/base.html.twig' %}
{% block title %}
	Edit Skill
{% endblock %}


{% block body %}
<div class="row justify-content-center">
	<div class="col-sm-12 col-lg-6">
      <h1>Edit Skill</h1>
     {{ include('skill/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-warning" href="{{ path('app_skill_index') }}">back to list</a>

    {{ include('skill/_delete_form.html.twig') }}
    </div>
</div>

  

   
{% endblock %}
