{% extends 'base/base.html.twig' %}
{% block title %}
	Skills show

{% endblock %}


{% block body %}
	<div class="col-sm-12
	 col-lg-12">
		<h1>Skill</h1>
		<div class="table-responsive">
			<table class="table table-striped text-white">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ skill.id }}</td>
					</tr>
					<tr>
						<th>Techname</th>
						<td>{{ skill.techname }}</td>
					</tr>
					<tr>
						<th>Techdescription</th>
						<td>{{ skill.techdescription }}</td>
					</tr>
					<tr>
						<th>Techpercent</th>
						<td>{{ skill.techpercent }}</td>
					</tr>
					<tr>
						<th>Techasset</th>
						<td>{{ skill.techasset }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<div class="col-sm-12 col-lg-6">
				<a class="btn btn-warning btn-block" href="{{ path('app_skill_index') }}">back to list</a>

			</div>
			<div class="col-sm-12 col-lg-6">
				<a class="btn btn-info btn-block" href="{{ path('app_skill_edit', {'id': skill.id}) }}">edit</a>

			</div>
		</div>

		<div class="pt-3">
			{{ include('skill/_delete_form.html.twig') }}
		</div>


	</div>

{% endblock %}
