{% extends 'base/base.html.twig' %}
{% block title %}
	Edit Experience
{% endblock %}


{% block body %}
	<div class="row justify-content-center">
		<div class="col-sm-12 col-lg-6">
			<h1>Edit Experience</h1>

			{{ include('experience/_form.html.twig', {'button_label': 'Update'}) }}

			<a class="btn btn-warning" href="{{ path('app_experience_index') }}">back to list</a>

			{{ include('experience/_delete_form.html.twig') }}
		</div>

	</div>

{% endblock %}
