{% extends 'base/base.html.twig' %}
{% block title %}
	Experience Table
{%
endblock %}
{% block body %}

	
			{% for message in app.flashes('success') %}
				<div class="alert alert-success w-100">
					<h3>{{ message }}</h3>
				</div>
			{% endfor %}
			<div class="col-xs-7 col-sm-7 col-md-7 col-lg-12 text-left">
				<h3>Experience index</h3>
				<hr/>
			</div>
			<div class="row justify-content-center p-2">
				<div class="col-xs-4 col-sm-4 col-md-4 col">
					<form class="row text-left">
						<input class="form-control col" value="{{ app.request.query.get('q') }}" name="q" type="search" placeholder="Search" aria-label="Search"/>
						<button class="col-lg-2 btn btn-outline-light my-2 my-sm-0" type="submit">
							Search
						</button>
					</form>
				</div>
			</div>
      <div class="col-lg-12 table-responsive">
      <table class="table table-striped text-white table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>
							<div class="col-sm-2">#</div>
						</th>
						<th>Logo</th>
						<th>user</th>
						<th>Expname</th>
						<th>Expdescription</th>
						<th>Expfrom</th>
						<th>Expto</th>
						<th>Createat</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for experience in pagination %}
						<tr>
							<td>#</td>
							<td class="text-center"> <a> <img src="{{ asset(experience.expcompany.comlogoUrl) }}" height=50> </a></td>
							<td>{{ experience.userid }}</td>
							<td>{{ experience.expname }}</td>
							<td>{{ experience.expdescription | truncate }}</td>
							<td>
								{{ experience.expfrom ? experience.expfrom|date('Y-m-d') : '' }}
							</td>
							<td>{{ experience.expto ? experience.expto|date('Y-m-d') : '' }}</td>
							<td>
								{{ experience.createat ? experience.createat|date('Y-m-d') : '' }}
							</td>
							<td>
								<div class="row">
									<div class="col col-lg-6">
										<a class="btn btn-block btn-success" href="{{ path('app_experience_show', { id: experience.id }) }}">show</a>
									</div>
									<div class="col col-lg-6">
										<a class="btn btn-block btn-info" href="{{ path('app_experience_edit', { id: experience.id }) }}">edit</a>
									</div>
								</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="9">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
       </div>
			
			<div class="col">
				<div class="d-flex justify-content-end">
					{{ knp_pagination_render(pagination) }}
				 
				</div>
				<div class="d-flex justify-content-center">
					<a class="btn btn-outline-light btn-block" href="{{ path('experience_new') }}">Create new</a>
				</div>
			</div>
	

{% endblock %}
