{% extends 'base/base.html.twig' %}
{% block title %}
	Edit GitRepositories
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-sm-12 col-lg-6">
		<h1>Edit GitRepositories</h1>
		{{ include('git_repositories/_form.html.twig', {'button_label': 'Update'}) }}

		<a class="btn btn-warning" href="{{ path('app_git_repositories_index') }}">back to list</a>

		{{ include('git_repositories/_delete_form.html.twig') }}
	</div>
</div>
{% endblock %}
