{% extends 'base/base.html.twig' %} {% block title %}Hello
{{ controller_name }}
{% endblock %} {% block stylesheets %}
{{ parent() }}
{% endblock %} {% block body %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8 text-left text-white">
      <h1>Hello {{ controller_name }}! ✅</h1>

      This friendly message is coming from:
       
    </div>
  </div>
</div>

{% endblock %}
