* {
  border-color: transparent !important;
}


form label {
  color: white;
}

.form-group input {
  background-color: black !important;
   color: white;
}

.form-group input:focus-within {
  color: rgb(100, 223, 213) !important;
}

body .main {
  height: 100vh;
}
div.form {
  position: relative;
  
  width: 800px;
}

div.form .container {
  position: absolute;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}
