/* 
//////////////////// LOGIN
*/
* {
  border-color: transparent !important;
}

div button.login-button {
  background-color: transparent !important;
  color: white;
  font-weight: bold;
  font-size: x-large;
}
div.container.login-body .row {
  position: relative;
}

div.container.login-body .row div.col-xs-8 {
position: absolute;
margin: 0;
top: 60%;
-ms-transform: translateY(60%);
transform: translateY(60%);

}


form > input {
  background-color: black !important;
   color: white;
}

input:focus-within {
  color: rgb(100, 223, 213) !important;
}

body .main {
  height: 60vh;
}


@media (min-width: 345px) and (max-width: 480px) {
  div.container.login-body {
    margin-top: 25% !important;
  }
  .circles {
    bottom: 0px;
  }

  div.footer {
    position: relative !important;
  }
}
