{% extends 'base/base.html.twig' %}
{% block title %}
	Edit Resume
{% endblock %}

{% block body %}

<div class="row justify-content-center">
<div class="col-sm-12 col-lg-6">
		<h1 class="">Edit Resume</h1>

		{{ include('resume/_form.html.twig', {'button_label': 'Update'}) }}

		<a class="btn btn-warning" href="{{ path('app_resume_index') }}">back to list</a>

		{{ include('resume/_delete_form.html.twig') }}
	</div>
</div>
	

{% endblock %}
