{% extends 'base/base.html.twig' %}
{% block title %}
	Resume new

{% endblock %}
{% block body %}
	<div class="row justify-content-center">
		<div class="col-sm-12 col-lg-6">
			<h1 class="text-center">Create new Resume</h1>

			{{ include('resume/_form.html.twig') }}

			<a class="btn btn-warning" href="{{ path('app_resume_index') }}">back to list</a>
		</div>
	</div>


{% endblock %}
