{% extends 'base/base.html.twig' %}
{% block title %}
	Resume show

{% endblock %}


{% block body %}
	<div class="col-sm-6 col-lg-12 table-responsive">
	<div class="table table-striped table-responsive">
		<h1>Resume</h1>

	<table class="table text-white">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ resume.id }}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ resume.name }}</td>
				</tr>
				<tr>
					<th>Content</th>
					<td>{{ resume.content }}</td>
				</tr>
				<tr>
					<th>Createat</th>
					<td>{{ resume.createat ? resume.createat|date('Y-m-d') : '' }}</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-sm-12 col-lg-6">
				<a class="btn btn-warning btn-block" href="{{ path('app_resume_index') }}">back to list</a>
			</div>
			<div class="col-sm-12 col-lg-6">
				<a class="btn btn-info btn-block" href="{{ path('app_resume_edit', {'id': resume.id}) }}">edit</a>
			</div>
		</div>
		<div class="p-3">
			{{ include('resume/_delete_form.html.twig') }}
		</div>
	</div>
	
		

	</div>

{% endblock %}
