/*
   ////////////////////////////// ANIMATIONS
*/

@keyframes bounce-2 {
  0% {
    text-shadow: 0px 0px 0px rgb(119, 119, 119);
  }
  50% {
    text-shadow: 0px 25px 20px rgb(119, 119, 119);
  }
  100% {
    text-shadow: 0px 0px 0px rgb(119, 119, 119);
  }
}

@font-face {
  font-family: portfolio;
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: porfolio_bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

* {
  margin: 0px;
  padding: 0px;
}
span.logo-letter {
  position: absolute;
  margin-left: -25px !important;
  margin-top: 20px !important;
}
span.logo-letter p {
  display: inline;
  font-size: 27px;
  font-weight: bold;
  font-family: portfolio;
}

hr {
  border-color: white !important;
}

/*
  //////////////////////////////  NAVBAR
*/

.navbar a {
  font-size: x-large;
  font-family: porfolio_bold;
  color: white !important;
}
.item-focused {
  text-shadow: 0px 35px 25px rgb(126, 131, 131);
}
.navbar ul li.nav-item a:hover {
  text-shadow: 0px 35px 25px rgb(126, 131, 131);
}
.navbar div.dropdown-menu a:hover {
  text-shadow: 45px 0px 15px rgb(126, 131, 131) !important;
}

.active {
  text-shadow: 0px 35px 25px rgb(126, 131, 131) !important;
}

div.row div a.dropdown-item:active {
  text-shadow: 0px 35px 25px rgb(126, 131, 131) !important;
}

.navbar form {
  font-family: porfolio_bold;
  color: white !important;
}

a.dropdown-item:hover {
  background-color: transparent !important;
}
a.dropdown-item {
  font-size: medium;
  font-family: porfolio_bold;
  color: white !important;
}
.dropdown-menu {
  background-color: transparent !important;
}
.dropdown-menu > a:hover {
  background: transparent !important;
}

a.logo {
  text-shadow: 0px 35px 5px rgb(94, 97, 97);
  /*animation: bounce-2 5s ease-in-out infinite;*/
  font-size: xx-large;
}

/*
  //////////////////////////////// BODY
*/

body {
  background-image: url(../img/bgmountain_flat.jpg);
  background-size: cover;
  font-family: portfolio;
}

body .main {
  min-height: 600px;
 
}

body div.container-fluid.main > div.row {

   position: relative;
   margin-top: 2%;
}

/*
  //////////////////////////////// FOOTER
*/

div.footer {
  position: relative;
  font-family: portfolio;
}

/*
  ////////////////////////// MOBILE VERSION
*/

@media (min-width: 345px) and (max-width: 480px) {

  body div.main div.row {

    position: relative;
    margin-top: 2%;
 }
 
}

/*
  //////////////////////// PARTICLES
*/

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
  position: absolute;
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: transparent;

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
