{% extends 'base/base.html.twig' %} {% block title %} GitRepositories index {%
endblock %} {% block body %} {% for message in app.flashes('success') %}
<div class="alert alert-success w-100">
  <h3>{{ message }}</h3>
</div>
{% endfor %}
<div class="col-xs-7 col-sm-7 p-2 col-md-7 col-lg-12 text-left">
  <h3>GitRepositories index</h3>
  <hr />
</div>

<div class="row justify-content-center p-2">
  <div class="col-xs-4 col-sm-4 col-md-4 col">
    <form class="row text-left">
      <input
        class="form-control col"
        value="{{ app.request.query.get('q') }}"
        name="q"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="col-lg-2 btn btn-outline-light my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</div>

<div class="col-lg-12 table-responsive">
  <table class="table table-striped text-white table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>
          <div class="col-sm-2">#</div>
        </th>
        <th scope="col">Id</th>
        <th scope="col">Githuburl</th>
        <th scope="col">Gitlaburl</th>
        <th scope="col">Gitlabaccesstoken</th>
        <th scope="col">Githubaccesstoken</th>
        <th scope="col">Usernamegitlab</th>
        <th scope="col">Usernamegithub</th>
        <th scope="col">Gitlabispub</th>
        <th scope="col">Githubispub</th>
        <th scope="col">Githubjsn</th>
        <th scope="col">Gitlabjsn</th>
        <th scope="col">Gitladid</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      {% if git_repositories %}
      <tr>
        <td>#</td>
        <td>{{ git_repositories.id }}</td>
        <td>{{ git_repositories.githuburl| truncate(10)}}</td>
        <td>{{ git_repositories.gitlaburl| truncate(10) }}</td>
        <td>{{ git_repositories.gitlabaccesstoken | truncate(10)}}</td>
        <td>{{ git_repositories.githubaccesstoken  | truncate(10)}}</td>
        <td>{{ git_repositories.usernamegitlab }}</td>
        <td>{{ git_repositories.usernamegithub }}</td>
        <td>{{ git_repositories.gitlabispub ? "Yes" : "No" }}</td>
        <td>{{ git_repositories.githubispub ? "Yes" : "No" }}</td>
        <td>
          {{ git_repositories.githubjsn ? git_repositories.gitlabjsn|json_encode()| truncate }}
        </td>
        <td>
          {{ git_repositories.gitlabjsn ? git_repositories.gitlabjsn|json_encode() | truncate }}
        </td>
        <td>{{ git_repositories.gitladid }}</td>
        <td>
          <div class="row">
            <div class="col col-lg-6">
              <a
                class="btn btn-block btn-success"
                href="{{
                  path('app_git_repositories_show', { id: git_repositories.id })
                }}"
                >show</a
              >
            </div>
            <div class="col col-lg-6">
              <a
                class="btn btn-block btn-info"
                href="{{
                  path('app_git_repositories_edit', { id: git_repositories.id })
                }}"
                >edit</a
              >
            </div>
          </div>
        </td>
      </tr>

      {% else %}
      <tr>
        <td colspan="13">no records found</td>
      </tr>
      {% endif %}
    </tbody>
  </table>

</div>

<div class="col">
  <div class="d-flex justify-content-end"></div>
  <div class="d-flex justify-content-center">
    <a
      class="btn btn-outline-light btn-block"
      href="{{ path('app_git_repositories_new') }}"
      >Create new</a
    >
  </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center pt-5">
		{% if git_repositories %}
      {% for repo in git_repositories.gitlabjsn %}
      <div class="col-3">
        <div class="card border bg-dark mb-3"  >
          <div class="card-header">
            <ul class="list-unstyled">
              <li>Name -> {{ repo.name | capitalize }}</li>
              <li>Create at : {{ repo.created_at | ago }}</li>
              <li>Last Acitvity at : {{ repo.last_activity_at | ago }}</li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ repo.name | capitalize }}</h5>
            <ul class="list-unstyled">
              <li>Owner -> {{ repo.namespace.name }}</li>
			  <li> Link to repo -> <a target="_blank" href="{{ repo.http_url_to_repo}}"> {{ repo.name }}</a></li>
			  <li> Visibility -> {{ repo.visibility }}</li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
	  {% endif %}
    </div>
  </div>

{% endblock %}
