{% extends 'base/base.html.twig' %}
{% block title %}
	New GitRepositories

{% endblock %}


{% block body %}
	<div class="row justify-content-center">
		<div class="col-sm-12 col-lg-6">
	<h1>Create new GitRepositories</h1>

	{{ include('git_repositories/_form.html.twig') }}

	<a class="btn btn-warning" href="{{ path('app_git_repositories_index') }}">back to list</a>

    	</div>
	</div>
{% endblock %}
