{% extends 'base/base.html.twig' %} {% block title %}Hello
{{ controller_name }}
{% endblock %} {% block stylesheets %}
{{ parent() }}
{% endblock %} {% block body %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8 text-left text-white">
      <h1>Hello {{ controller_name }}! ✅</h1>
      This friendly message is coming from:
        <img class="img-fluid bg-dark rounded-circle" src="https://robohash.org/{{ controller_name }}?size=100x100" alt="profile pic"> 
    </div>
  </div>
</div>

{% endblock %}
