{% extends 'base/base.html.twig' %} {% block title %}
Edit Company 
{% endblock %} 
 

{% block body %}
<div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6">
   <h1>Edit Company</h1>

    {{ include('company/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-warning"  href="{{ path('app_company_index') }}">back to list</a>

    {{ include('company/_delete_form.html.twig') }}
</div>
</div>

 
{% endblock %}
