<!DOCTYPE html>
<html>
	<head>

		{{ encore_entry_link_tags('app') }}
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta charset="UTF-8"/>
		<script src="https://kit.fontawesome.com/2ce703cfa3.js" crossorigin="anonymous"></script>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

	</head>

	<body>
		{% include "header/header.html.twig" %}


		<div class="container-fluid main">
			<div class="row h-100 text-white">
				<div class="col-12"> {% block body %}{% endblock %}

					</div>
				</div>
			</div>

			{% include "footer/footer.html.twig" %}
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
				<!-- scripts -->
				<script src="{{ asset('assets/js/particles.js') }}"></script>
				<script src="{{ asset('assets/js/app.js') }}"></script>

			{% endblock %}
		</body>
	</html>
</body></html>
