<nav class="navbar navbar-expand-lg navbar-light fixed">
	<a class="navbar-brand logo" href="{{ path('app_jome') }}">
		<img src="{{ asset('assets/img/logo_mustelaris.png')}}" class="${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" height="100" alt="logotype"><span class="logo-letter">
			 
		</span>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon navbar-inverse">
			<i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
		</span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">

			<li class="nav-item">
				<a class="nav-link  {% if app.request.get('_route') == 'app_jome' %} active {% endif %}" href="{{ path('app_jome') }}" href="#">Main

				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Repositories</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Profiles
				</a>
				<div class="dropdown-menu border-0 bg-dark" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{ path('app_profiles_dani') }}"><img src="https://robohash.org/Daniel?size=25x25" alt="profile pic">
						Dannybombastic</a>
					<a class="dropdown-item" href="{{ path('app_profiles_isma') }}"><img src="https://robohash.org/Ismael?size=25x25" alt="profile pic">Ismael</a>
					<a class="dropdown-item" href="{{ path('app_profiles_camacho') }}"><img src="https://robohash.org/camacho?size=25x25" alt="profile pic">
						J.C. Camacho</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Profiles up here
					</a>
				</div>
			</li>
			{% if app.user %}

				<li class="nav-item dropdown p-0" aria-labelledby="navbarDropdown_0">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						User
					</a>
					<div class="dropdown-menu  border-0 bg-dark">
						<div class="row">
							<div class="col-4 p-0 h-100">
								<a href="">
									<span class="align-middle"><img src="{{ app.user.getAvatarUrl(50) }}" class="img-fluid bg-dark rounded-circle " alt="{{ app.user.name }}"></span>
								</a>
							</div>
							<div class="col-6 p-0">
								<a href="{{ path('app_company_index') }}" class="dropdown-item {% if app.request.get('_route') == 'app_company_index' %} active {% endif %}">
									Companys
								</a>
								<a href="{{ path('app_experience_index') }}" class="dropdown-item {% if app.request.get('_route') == 'app_experience_index' %} active {% endif %}">
									Experiences
								</a>
								<a href="{{ path('app_skill_index') }}" class="dropdown-item {% if app.request.get('_route') == 'app_skill_index' %} active {% endif %}">
									Skills
								</a>

								<a href="{{ path('app_resume_index') }}" class="dropdown-item {% if app.request.get('_route') == 'app_resume_index' %} active {% endif %}">
									Resumes
								</a>
								<a href="{{ path('app_education_index') }}" class="dropdown-item {% if app.request.get('_route') == 'app_resume_index' %} active {% endif %}">
									Education
								</a>
							</div>
						</div>


					</div>


				</li>
			{% endif %}


			<li class="nav-item">
				{% if app.user %}
					<a class="nav-link {% if app.request.get('_route') == 'app_login' %} active {% endif %}" href="{{ path('app_logout') }}">Log Out</a>
				{% else %}
					<a class="nav-link {% if app.request.get('_route') == 'app_login' %} active {% endif %}" href="{{ path('app_login') }}">Log In</a>
				{% endif %}
			</li>
		</div>

	</ul>
	{#
														    <form class="form-inline my-2 my-lg-0">
														      <input
														        class="form-control mr-sm-2 btn-outline-success"
														        type="search"
														        placeholder="Search"
														        aria-label="Search"
														      />
														      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
														        Search
														      </button>
														    </form>
														    #}
</div></nav>
