{% extends 'base/base.html.twig' %}
{% block title %}
	Education
{% endblock %}
{% block body %}


	{% for message in app.flashes('success') %}
		<div class="alert alert-success w-100">
			<h3>{{ message }}</h3>
		</div>
	{% endfor %}
	<div class="col-xs-7 col-sm-7 p-2 col-md-7 col-lg-12 text-left">
		<h3>Education index</h3>
		<hr/>
	</div>

	<div class="row justify-content-center p-2">
		<div class="col-xs-4 col-sm-4 col-md-4 col">
			<form class="row text-left">
				<input class="form-control col" value="{{ app.request.query.get('q') }}" name="q" type="search" placeholder="Search" aria-label="Search"/>
				<button class="col-lg-2 btn btn-outline-light my-2 my-sm-0" type="submit">
					Search
				</button>
			</form>
		</div>
	</div>

	<div class="col-lg-12 table-responsive">
		<table class="table table-striped text-white table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>School</th>
					<th>Degree</th>
					<th>Degreedate</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for education in education %}
					<tr>
						<td>{{ education.id }}</td>
						<td>{{ education.school }}</td>
						<td>{{ education.degree }}</td>
						<td>{{ education.degreedate ? education.degreedate|date('Y-m-d') : '' }}</td>
						<td>

                        <div class="row">
								<div class="col col-lg-6">
                                <a class="btn btn-block btn-success" href="{{ path('app_education_show', {'id': education.id}) }}">show</a>
									
								</div>
								<div class="col col-lg-6">
                                <a class="btn btn-block btn-info" 
                                href="{{ path('app_education_edit', {'id': education.id}) }}">edit</a>
								 
								</div>
							</div>
							
							
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
        </div>

		<a class="btn btn-outline-light btn-block" href="{{ path('app_education_new') }}">Create new</a>
	{% endblock %}
