{% extends 'base/base.html.twig' %}
{% block title %}
	Education

{% endblock %}

{% block body %}
	<div class="col-sm-6 col-lg-12">
		<h1>Education</h1>

		<div class="table-responsive ">
			<table class="table table-striped text-white">

				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ education.id }}</td>
					</tr>
					<tr>
						<th>School</th>
						<td>{{ education.school }}</td>
					</tr>
					<tr>
						<th>Degree</th>
						<td>{{ education.degree }}</td>
					</tr>
					<tr>
						<th>Degreedate</th>
						<td>{{ education.degreedate ? education.degreedate|date('Y-m-d') : '' }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<div class="col-sm-12 col-lg-6">
				<a class="btn btn-warning btn-block" href="{{ path('app_education_index') }}">back to list</a>
			</div>
			<div class="col-sm-12 col-lg-6">
				<a class="btn btn-info btn-block" href="{{ path('app_education_edit', {'id': education.id}) }}">edit</a>
			</div>
		</div>
		<div class="p-3">
			{{ include('education/_delete_form.html.twig') }}
		</div>


	</div>
{% endblock %}
