{% extends 'base/base.html.twig' %} {% block title %}
Edit Education
{% endblock %} 
 
{% block body %}
<div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6">
    <h1>Edit Education</h1>

    {{ include('education/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-warning" href="{{ path('app_education_index') }}">back to list</a>

    {{ include('education/_delete_form.html.twig') }}

    </div>
</div>

{% endblock %}
