<div class="col-sm-12 col-lg-12 text-right">
  <form
    method="post"
    action="{{ path('app_company_delete', { id: company.id }) }}"
    onsubmit="return confirm('Are you sure you want to delete this item?');"
  >
    <input type="hidden" name="_method" value="DELETE" />
    <input
      type="hidden"
      name="_token"
      value="{{ csrf_token('delete' ~ company.id) }}"
    />
    <button class="btn btn-danger text-right">Delete</button>
  </form>
</div>
