{% extends 'base/base.html.twig' %}
{% block title %}
	Company show
{% endblock
%}
{% block body %}
	<div class="col-sm-6 col-lg-12">
		<h1>Company</h1>
		<div class="table-responsive">
			<table class="table table-striped text-white">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ company.id }}</td>
					</tr>
					<tr>
						<th>Name</th>
						<td>{{ company.name }}</td>
					</tr>
					<tr>
						<th>Comdescription</th>
						<td>{{ company.comdescription }}</td>
					</tr>
					<tr>
						<th>Comlogo</th>
						<td>
							<img src="{{ asset(company.comlogoUrl) }}" class="" alt="" height="80px"/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<div class="col-sm-12 col-lg-6">
				<a class="btn btn-warning btn-block" href="{{ path('app_company_index') }}">back to list</a>
			</div>
			<div class="col-sm-12 col-lg-6">
				<a class="btn btn-info btn-block" href="{{ path('app_company_edit', { id: company.id }) }}">edit</a>
			</div>
		</div>
		<div class="p-3">
			{{ include("company/_delete_form.html.twig") }}
		</div>
	</div>

{% endblock %}
