{% extends 'base/base.html.twig' %} {% block title %}Hello
{{ controller_name }}!{% endblock %} {% block stylesheets %} {% endblock %}
 {% block body %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8 text-white h1 text-left">
        <h1>UX/UI DEVELOPER </h1>
        <small> <p> This friendly message is coming from:</p> </small>
      <ul>
        {#
        <li>Your controller at <code></code></li>
        <li>Your template at <code></code></li>
        #}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
